<!DOCTYPE html>
<!-- VIEW INFRASTRUCTURES DETAILS PAGE -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">

<!-- BEGIN HEAD -->
	<head>
		<meta charset="utf-8" />
		<title>View Infrastructures Details</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="" name="kodekode" />
		<link th:href="@{/assets/global/css/googlefont.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css" />
		<!-- END GLOBAL MANDATORY STYLES -->
		<!-- BEGIN PAGE LEVEL PLUGINS -->
        <link th:href="@{/assets/global/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css}" rel="stylesheet" type="text/css" />
		<!-- END PAGE LEVEL PLUGINS -->
		<!-- BEGIN THEME GLOBAL STYLES -->
		<link th:href="@{/assets/global/css/components-rounded.min.css}" rel="stylesheet" id="style_components" type="text/css" />
		<link th:href="@{/assets/global/css/plugins.min.css}" rel="stylesheet" type="text/css" />
		<!-- END THEME GLOBAL STYLES -->
		<!-- BEGIN THEME LAYOUT STYLES -->
		<link th:href="@{/assets/layouts/layout/css/layout.min.css}" rel="stylesheet" />
		<link th:href="@{/assets/layouts/layout/css/themes/darkblue.min.css}" rel="stylesheet" />
		<link th:href="@{/assets/layouts/layout/css/custom.min.css}" rel="stylesheet" />
		<!-- END THEME LAYOUT STYLES -->
	
		<link rel="shortcut icon" href="favicon.ico" /> 
        
	</head>
<!-- END HEAD -->



<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">
            <!-- BEGIN HEADER -->
            <div class="page-header navbar navbar-fixed-top">
                <!-- BEGIN HEADER INNER -->
                <div class="page-header-inner ">
                    
                    <!-- BEGIN LOGO -->
                    <div th:replace="header :: logo"> </div>
                    <!-- END LOGO -->
                    
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <div th:replace="header :: responsivemenu"> </div>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
               			<ul class="nav navbar-nav pull-right">
					        <li th:replace="header :: homebutton"> </li>
               				<li class="dropdown dropdown-user">
               					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
           							<span th:text="${name.Staff.Name}" class="username username-hide-on-mobile"> KodeKode </span>
                						<i class="fa fa-angle-down"></i>
           						</a>
           						<ul th:replace="header :: usernamedropdown"> </ul>
               				</li>
               			</ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->

            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->

            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                
                <!-- BEGIN SIDEBAR -->
                <div th:replace="sider :: sidebar"> </div>
                <!-- END SIDEBAR -->




<!-- =====NOTE========NOTE===== CONTENT BEGINS HERE!!! =====NOTE========NOTE===== --> 

                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE HEADER-->
                        <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a href="infra-viewall.html">Infrastructures</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>View Details</span>
                                </li>
                            </ul>
                        </div>
                        <!-- END PAGE BAR -->
                        <!-- BEGIN PAGE TITLE-->
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->
                        <p></p>

                        <!-- BEGIN DETAILS SPACE -->
                        <div class="portlet light portlet-fit bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-settings font-dark"></i>
                                    <span id="infra_details_table" class="caption-subject font-dark sbold uppercase"> Infrastructure Details</span>
                                </div>
						
                            <div class="actions" th:if="${infra.status != -1}">
								<div class="col-md-6">
									<div class="btn-group">
										<a th:href="@{/infra-editdetails(sentinfraID=${infra.infraID})}">
											<button id="infra_edit_button" class="btn blue">
												Edit</button>
										</a>
									</div>
								</div>
								<div class="col-md-6">
									<div class="btn-group">
									<a th:href="@{/infra-delete(sentinfraID=${infra.infraID})}">
										<button id="infra_delete_button" class="btn red"
											onclick="return confirm(\'Delete this item?\')">
											Delete</button>
									</a>
									</div>
								</div>
							</div>
                            </div>

                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <table id="infra_viewdetails_table" class="table table-bordered table-striped">                    
                                            <tbody>
                                                <tr>
                                                    <td style="width:15%"> Infrastructure ID </td>
                                                    <td style="width:30%">
                                                        <span th:text="${infra.infraID}" id="infra_id" class="text-muted"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> Infrastructure Name </td>
                                                    <td>
                                                        <span th:text="${infra.infraName}" id="infra_name" class="text-muted"></span>
                                                    </td>
                                                </tr> 
                                                <tr>
                                                    <td> Location </td>
                                                    <td>
                                                        <span th:text="${infra.location}" id="infra_locale" class="text-muted"></span>
                                                    </td>
                                                </tr>
                                                <tr th:if="${locale=='M'}">
                                                    <td> Station </td>  
                                                    <td>
                                                		<span th:text="${infra.stn}" id="infra_prev" class="text-muted"></span>
                                                    </td>                                                    
                                                </tr>
                                                <tr th:if="${locale=='EW' OR locale=='NS'}">
                                                    <td> Previous Station </td>  
                                                    <td>
                                                		<span th:text="${infra.prevStn}" id="infra_prev" class="text-muted"></span>
                                                    </td>                                                    
                                                </tr>
                                                <tr th:if="${locale == 'EW' OR locale=='NS'}">
                                                    <td> Next Station </td>
                                                    <td>
                                                        <span th:text="${infra.nextStn}" id="infra_next" class="text-muted"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> Status </td>
                                                    <div th:switch="${infra.status}">
                                                    <td>
                                                        <span th:case="-1">Decommisioned</span>
														<span th:case="0">Temporary Closed</span>
														<span th:case="1">In Operation</span>
                                                    </td>
                                                    </div>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END CONTAINER -->

            <!-- BEGIN FOOTER -->
            <div th:replace = "footer :: footerbar"> </div>
            <!-- END FOOTER -->

        </div>
        

		<!-- BEGIN CORE PLUGINS -->
		<script th:src="@{/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/global/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/global/plugins/js.cookie.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/global/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}" type="text/javascript"></script>
		<!-- END CORE PLUGINS -->
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<!-- END PAGE LEVEL PLUGINS -->
		<!-- BEGIN THEME GLOBAL SCRIPTS -->
		<script th:src="@{/assets/global/scripts/app.min.js}" type="text/javascript"></script>
		<!-- END THEME GLOBAL SCRIPTS -->
		<!-- BEGIN PAGE LEVEL SCRIPTS -->
		<!-- END PAGE LEVEL SCRIPTS -->
		<!-- BEGIN THEME LAYOUT SCRIPTS -->
		<script th:src="@{/assets/layouts/layout/scripts/layout.min.js}" type="text/javascript"></script>
		<!-- END THEME LAYOUT SCRIPTS -->
        <script>
            $(document).ready(function()
            {
                $('#clickmewow').click(function()
                {
                    $('#radio1003').attr('checked', 'checked');
                });
            })
        </script>
    </body>

</html>