<!DOCTYPE html>
<!-- EDIT STAFF PASSWORD PAGE -->

<html xmlns:th="http://www.thymeleaf.org">

<!-- BEGIN HEAD -->
	<head>
		<meta charset="utf-8" />
		<title>Create Staff Violation</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="" name="kodekode" />
		<link th:href="@{/assets/global/css/googlefont.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css" />
		<!-- END GLOBAL MANDATORY STYLES -->
		<!-- BEGIN PAGE LEVEL PLUGINS -->
        <link th:href="@{/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}" rel="stylesheet" type="text/css" />
		<!-- END PAGE LEVEL PLUGINS -->
		<link href=“../assets/global/plugins/select2/css/select2.min.css” rel=“stylesheet” type=“text/css” />
       <link href=“../assets/global/plugins/select2/css/select2-bootstrap.min.css” rel=“stylesheet” type=“text/css” />
		<!-- BEGIN THEME GLOBAL STYLES -->
		<link th:href="@{/assets/global/css/components-rounded.min.css}" rel="stylesheet" id="style_components" type="text/css" />
		<link th:href="@{/assets/global/css/plugins.min.css}" rel="stylesheet" type="text/css" />
		<!-- END THEME GLOBAL STYLES -->
		<!-- BEGIN THEME LAYOUT STYLES -->
		<link th:href="@{/assets/layouts/layout/css/layout.min.css}" rel="stylesheet" />
		<link th:href="@{/assets/layouts/layout/css/themes/darkblue.min.css}" rel="stylesheet" />
		<link th:href="@{/assets/layouts/layout/css/custom.min.css}" rel="stylesheet" />
		<!-- END THEME LAYOUT STYLES -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link rel="shortcut icon" href="favicon.ico" />

      <!--   <script>
            $(document).ready(function() {
                $('#MsgType').on('change.states', function(){
                    if( this.value == "External Announcement" || this.value == "Internal Announcement")
                        $("#receivers").hide();
                    else
                        $("#receivers").show();

                }).trigger('change.states');
            });
        </script> -->
	</head>
<!-- END HEAD -->


<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">
            <!-- BEGIN HEADER -->
            <div class="page-header navbar navbar-fixed-top">
                <!-- BEGIN HEADER INNER -->
                <div class="page-header-inner ">

                    <!-- BEGIN LOGO -->
                    <div th:replace="header :: logo"> </div>
                    <!-- END LOGO -->

                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <div th:replace="header :: responsivemenu"> </div>
                    <!-- END RESPONSIVE MENU TOGGLER -->

                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
               			<ul class="nav navbar-nav pull-right">
					        <li th:replace="header :: homebutton"> </li>
               				<li class="dropdown dropdown-user">
               					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
           							<span th:text="${name.Staff.Name}" class="username username-hide-on-mobile"> KodeKode </span>
                						<i class="fa fa-angle-down"></i>
           						</a>
           						<ul th:replace="header :: usernamedropdown"> </ul>
               				</li>
               			</ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->

            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->

            <!-- BEGIN CONTAINER -->
            <div class="page-container">

                <!-- BEGIN SIDEBAR -->
                <div th:replace="sider :: sidebar"> </div>
                <!-- END SIDEBAR -->



<!-- =====NOTE========NOTE===== CONTENT BEGINS HERE!!! =====NOTE========NOTE===== -->

                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE HEADER-->
                        <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                        
                                <li>
                                    <span>Create Violation</span>
                                </li>
                            </ul>
                        </div>
                        <!-- END PAGE BAR -->
                        <!-- BEGIN PAGE TITLE-->
                        <p></p>
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN VALIDATION STATES-->
                                <div class="portlet light portlet-fit portlet-form bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-pencil-square-o font-blue"></i>
                                            <span class="caption-subject font-blue bold uppercase">Create Violation</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <!-- BEGIN FORM-->

                                        <form  th:action="@{/staff-createViolation}"  method="post" id="staff_createMessage_form" class="form-horizontal">
                                            <div class="form-body">




                <!-- Announcements are sent to all -->
                                             <!--    <div class="form-group">
                                                    <label class="control-label col-md-3">Message type
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-4">

                                                        <select class="form-control" id="MsgType" value = "" th:name="msgType">
                                                            <option value="Message">Message</option>
                                                             <div th:if="${name.Roles}">
                                                                <div th:each="i:${name.Roles}" >
                                                                    <div th:if="${i.RoleID == 'HR'}">
                                                                        <div th:if = "${name.userGroup.equalsIgnoreCase('Staff')}">
                                                            <option value="Internal Announcement">Internal Announcement</option>
                                                            <option value="External Announcement">External Announcement</option>
                                                                    </div></div></div></div>
                                                            <option value="Notification">Notification</option>

                                                        </select>
		
                                                </div>

                                                </div> -->
                                                

                                                <div class="form-group" id="receivers">
                                                    <label class="control-label col-md-3">List of Staff Name/User ID available for Violation reporting
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-4">

                                                        <select class="form-control" name = "selectedStaff" value = " " th:name="selectedStaff">
                                                            <option th:each="i:${staffList}" th:text="${i.Name} + '/'+ ${i.Account.userID}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                

                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Violation (*254 characters max)
                                                    </label>
                                                    <div class="col-md-4">
                                                        <div class="input-icon right">
                                                            <i class="fa"></i>
                                                                <textarea class="form-control" maxlength = "254" rows="5" cols="50" id="desc" placeholder="Enter your Violation here" th:name="description"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                      


                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn green" onclick="return confirm('Confirm Submit?');">Submit</button>
                                                        <!--<a href="underconstruction.html">-->
                                                        <a class="btn green" href="/staff-viewViolation"  onclick="return confirm('Confirm cancel?');">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </form>
                                        <!-- END FORM-->

                                    </div>
                                </div>
                                <!-- END VALIDATION STATES-->
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT BODY -->
                </div>
            </div>
            <!-- END CONTAINER -->

            <!-- BEGIN FOOTER -->
            <div th:replace = "footer :: footerbar"> </div>
            <!-- END FOOTER -->

        </div>


		<!-- BEGIN CORE PLUGINS -->
		<script th:src="@{/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/global/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/global/plugins/js.cookie.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/global/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
		<script th:src="@{/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}" type="text/javascript"></script>
		<!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
                <script th:src="@{/assets/global/plugins/select2/js/select2.full.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-validation/js/jquery.validate.min.js}" type="text/javascript"></script>

        <script th:src="@{/assets/global/plugins/jquery-validation/js/jquery.validate.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-validation/js/additional-methods.min.js}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
		<!-- BEGIN THEME GLOBAL SCRIPTS -->
		<script th:src="@{/assets/global/scripts/app.min.js}" type="text/javascript"></script>
		<!-- END THEME GLOBAL SCRIPTS -->
		<!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script th:src="@{/assets/pages/scripts/staff-createMessage.js}" type="text/javascript"></script>
		<!-- END PAGE LEVEL SCRIPTS -->
		<!-- BEGIN THEME LAYOUT SCRIPTS -->
		<script th:src="@{/assets/layouts/layout/scripts/layout.min.js}" type="text/javascript"></script>
		<!-- END THEME LAYOUT SCRIPTS -->
        <script>
            $(document).ready(function()
            {
                $('#clickmewow').click(function()
                {
                    $('#radio1003').attr('checked', 'checked');
                });
            })
        </script>
    </body>

</html>
